body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home {
  background-color: var(--main-color);
}

.navbar {
  width: 100%;
  color: #fff;
  font-size: 14px;
  position: fixed;
  top: 0;
  z-index: 999;
  background: linear-gradient(to top, transparent 0%, rgb(0,0,0,0.3) 50%);
}

.scrolled {
  background: var(--main-color);
}

.container {
  padding: 0 50px; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;

}

.logo {
  height: 25px;
  margin-right: 40px;
}

.left {
  display: flex;
  align-items: center;
}

.left span {
  margin-right: 20px;
  cursor: pointer;
}

.right {
  display: flex;
  align-items: center;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
}

.icon {
  margin: 0 15px;
  cursor: pointer;
}

.profile:hover {
  .options {
    display: flex;
    flex-direction: column;
    position: absolute;
  } 
}

.options {
  display: none;
  background-color: var(--main-color);
  border-radius: 5px;
}

.options span {
  padding: 10px;
  cursor: pointer;
}